<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Node Events</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" style="    justify-content: space-between;"> 
    <% if(locals.user != null){ %>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/events">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/events/create">Add new Events</a>
      </li>

    </ul>
    <% } %>


    <ul class="navbar-nav  ml-auto">
      <% if(locals.user == null){ %>

      <li class="nav-item active">
        <a class="nav-link" href="/auth/login">Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/auth/signup">Register</a>
      </li>
      <% } %>

      <% if(locals.user != null){ %>
      <li class="nav-item active">
        <a class="nav-link" href="/auth/logout" style="color: #f30707bd;font-weight: bold;background: #ffffffcc;margin-right: 20px;border-radius: 20px;">Logout</a>
      </li>
      <% } %>
    </ul>

  </div>
</nav>